i {
  margin-right: 10px;
  font-size: 16px;
  color: white;
}

.container {
  display: flex;
  justify-content: space-evenly;
  letter-spacing: 2px;
  font-size: 16.5px;
}

.container span {
  color: white;
 
}

.container span:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .container span {
    display: none;
  }
}
